<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
      <fa-icon [icon]="faHome"></fa-icon>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <span class="navbar-text">
            ВКС России, гроза всея галактики!
          </span>
        </li>
      </ul>

      <a class="nav-link" routerLink="starships-list">Наш флот</a>

      <button class="search-btn btn btn-outline-dark my-2 my-sm-0">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
  </nav>
</header>
