<div class="row">
  <div class="card col-sm-12 col-lg-8 offset-lg-2 my-5 px-0">
    <img
      src="https://vignette.wikia.nocookie.net/starwars/images/d/da/Executorbridge.jpg/revision/latest/scale-to-width-down/1000?cb=20120110005354"
      class="card-img-top"
      alt="emperor"
    >
    <div class="card-body">
      <h3 class="headline mb-2">Мощь имперского флота несокрушима</h3>
      <div>
        Соединение сил привело к необходимому сочетанию воздушной и космической сферы как смежных областей,
        для более удобного контроля за ними. Создание данных сил обусловлено ситуацией на мировой арене,
        изменениями при перевооружении других государств, увеличением значимости космического сектора для
        военно-экономического и социального прогресса.
      </div>
      <div class="readmore text-lg-right text-sm-center pt-3">
        <a class="nav-link" routerLink="starships-list">Наш флот</a>
      </div>
    </div>
  </div>
</div>
