<div class="row starship">
  <div class="card col-sm-12 col-lg-8 offset-lg-2 mt-5 mb-3 px-0">
    <img
      src="https://vignette.wikia.nocookie.net/starwars/images/3/30/Executor_BF2.png/revision/latest/scale-to-width-down/1000?cb=20180903230846"
      class="card-img-top"
      alt="emperor"
    >
    <div class="card-body">
      <div class="loading text-sm-center">
        <div
          *ngIf="!ship$ || loading"
          class="spinner-border text-sm-center"
          style="width: 1.5rem; height: 1.5rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div
        *ngIf="ship$ && !loading"
        class="starship__content"
      >
        <h3 class="headline mb-2">{{ship$.name}}</h3>
      </div>
    </div>
  </div>

  <ul
    *ngIf="ship$ && !loading"
    class="list-group col-sm-12 col-lg-8 offset-lg-2 px-0 mb-5"
  >
    <li
      *ngFor="let item of ship$"
      class="list-group-item"
    >
      <div
        class="starship__detail-wrap d-flex justify-content-between"
      >
        <div class="starship__detail-name">{{item.name}}:</div>
        <div class="starship__detail-value">{{item.value}}</div>
      </div>
    </li>
  </ul>
</div>
